#**Analysis 3. Finding High-Sales Games (Groupby)**

In [ ]:
# Sorting
df.sort_values(by='Sales',ascending=False, inplace=True)
df.reset_index(drop=True,inplace=True)

In [ ]:
df.head(2)

                 Name Platform    Year  ... Other_Sales Year_GR       Sales
0  Grand Theft Auto V     X360  2013.0  ...        1.38     201  9630006.75
1         Halo: Reach     X360  2010.0  ...        0.78     201  7030002.84

[2 rows x 11 columns]

In [ ]:
# Total grouping

group_total = df.groupby(['Platform','Publisher','Genre']).agg({'Sales': 'sum'}).reset_index().sort_values(by='Sales', ascending=False).reset_index(drop=True)
group_total.head(5)

  Platform               Publisher    Genre       Sales
0     X360    Take-Two Interactive   Action  9630033.52
1     X360  Microsoft Game Studios  Shooter  7030058.46
2      N64                Nintendo   Racing  5630019.65
3      N64                Nintendo   Action  4100014.21
4     X360         Electronic Arts  Shooter  3510036.28

In [ ]:
# Only one feature grouping

for i in ['Platform','Publisher','Genre']:
  gr = df.groupby([i]).agg({'Sales': 'sum'}).reset_index().sort_values(by='Sales', ascending=False).reset_index(drop=True)
  print('Max Sales - {} : '.format(i),gr.iloc[0,0])

Max Sales - Platform :  X360
Max Sales - Publisher :  Nintendo
Max Sales - Genre :  Action